.reset-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.form-buttons-inline {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .btn-send,
  .btn-cancel {
    width: 140px; /* o el ancho que quieras */
  }
  
.btn-send,
.btn-cancel {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-send {
  background-color: #2196F3;
  color: white;
}

.btn-send:hover {
  background-color: #4dabf7; 
  box-shadow: 0 4px 10px rgba(33, 150, 243, 0.25);
  transform: translateY(-1px);
}

.btn-cancel {
  background-color: #D93E3E;
  color: white;
}

.btn-cancel:hover {
  background-color: #f1646c; 
  box-shadow: 0 4px 10px rgba(220, 53, 69, 0.25);
  transform: translateY(-1px);
}



/* Caja blanca con sombra */
.form-box {
  background-color: white;
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Título */
.form-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* Etiquetas y campos */
.form-box label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.form-box input[type="email"],
.form-box input[type="text"],
.form-box input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-box input::placeholder {
  color: #aaa;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 480px) {

  .reset-container {
    padding: 20px;
  }
  .form-box {
    padding: 20px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-buttons {
    flex-direction: column;
  }
}
